<h3>
Create a new game room
</h3>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'setup_helper:create_room' %}" method="post">
  {% csrf_token %}

  <p>
    Room name:
    <input type="text" name="room_name">
  </p>

  <p>
    Passcode:
    <input type="password" name="passcode">
  </p>

  <p>
    Number of players:
    <select name="num_players">
      <option value="5" selected="selected">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </p>

  <p>
    You must pick <span id="num_good">?</span> good characters:
  </p>
  <input type="checkbox" name="characters" value="1"> Merlin <br>
  <input type="checkbox" name="characters" value="2"> Percival <br>
  <input type="checkbox" name="characters" value="3"> Loyal Servant <br>
  <input type="checkbox" name="characters" value="4"> Loyal Servant <br>
  <input type="checkbox" name="characters" value="5"> Loyal Servant <br>
  <input type="checkbox" name="characters" value="6"> Loyal Servant <br>
  <input type="checkbox" name="characters" value="7"> Loyal Servant <br>

  <p>
    You must pick <span id="num_evil">?</span> evil characters:
  </p>
  <input type="checkbox" name="characters" value="8"> Assasin <br>
  <input type="checkbox" name="characters" value="9"> Mordred <br>
  <input type="checkbox" name="characters" value="10"> Morgana <br>
  <input type="checkbox" name="characters" value="11"> Oberon <br>
  <input type="checkbox" name="characters" value="12"> Minion <br>
  <input type="checkbox" name="characters" value="13"> Minion <br>
  <input type="checkbox" name="characters" value="14"> Minion <br>

  <br>
  <input type="submit" value="Create" />
</form>

