{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'setup_helper/style.css' %}" />

<h3>
Create a new game room
</h3>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'setup_helper:create_room' %}" method="post">
  {% csrf_token %}

  <p>
    Room name:
    <input type="text" name="room_name" maxlength="100" required />
  </p>

  <p>
    Passcode:
    <input type="password" name="passcode" maxlength="20" required />
  </p>

  <p>
    Number of players:
    <select name="num_players" onchange="toggleNumPlayers(this)">
      <option value="5" selected="selected">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </p>

  <p>
    You must pick <span id="num_good">3</span> good characters:
  </p>
  <input type="checkbox" name="characters[]" value="1" checked onclick="return false"> <span class="good_side_text">Merlin (required)</span> <br>
  <input type="checkbox" name="characters[]" value="2"> <span class="good_side_text">Percival (make good side stronger)</span> <br>
  <input type="checkbox" name="characters[]" value="3"> <span class="good_side_text">Loyal Servant</span> <br>
  <input type="checkbox" name="characters[]" value="4"> <span class="good_side_text">Loyal Servant</span> <br>
  <input type="checkbox" name="characters[]" value="5"> <span class="good_side_text">Loyal Servant</span> <br>
  <input type="checkbox" name="characters[]" value="6"> <span class="good_side_text">Loyal Servant</span> <br>
  <input type="checkbox" name="characters[]" value="7"> <span class="good_side_text">Loyal Servant</span> <br>

  <p>
    You must pick <span id="num_evil">2</span> evil characters:
  </p>
  <input type="checkbox" name="characters[]" value="8" checked onclick="return false"> <span class="evil_side_text">Assasin (required)</span> <br>
  <input type="checkbox" name="characters[]" value="9"> <span class="evil_side_text">Mordred (make evil side stronger)</span> <br>
  <input type="checkbox" name="characters[]" value="10"> <span class="evil_side_text">Morgana (make evil side stronger)</span> <br>
  <input type="checkbox" name="characters[]" value="11"> <span class="evil_side_text">Oberon (make evil side weaker)</span> <br>
  <input type="checkbox" name="characters[]" value="12"> <span class="evil_side_text">Minion</span> <br>
  <input type="checkbox" name="characters[]" value="13"> <span class="evil_side_text">Minion</span> <br>
  <input type="checkbox" name="characters[]" value="14"> <span class="evil_side_text">Minion</span> <br>

  <br>
  <input type="submit" value="Create" />
</form>

<button type="button" onclick="javascript:history.back()">Back</button>

<script src="{% static 'setup_helper/js/host.js' %}"></script>

