<h3>
Create a new game room
</h3>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'setup_helper:create_room' %}" method="post">
  <p>
    Room name:
    <input type="text" name="room_name">
  </p>

  <p>
    Passcode:
    <input type="password" name="passcode">
  </p>

  <p>
    Number of players:
    <select name="num_players">
      <option value="5" selected="selected">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </p>

  <p>
    You must pick <span id="num_good">?</span> good characters:
  </p>

  <p>
    You must pick <span id="num_evil">?</span> evil characters:
  </p>

</form>

