{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'setup_helper/style.css' %}" />

<img src="{% static 'setup_helper/images/background.jpg' %}" />

<h3>
Avalon Game Setup Helper Homepage
</h3>

{% if new_room_created %}
<p class="success_text">
  New room created successfully.
</p>
{% endif %}

<p>Available game rooms:</p>

{% if available_rooms %}
  <ul>
  {% for room in available_rooms %}
    <li>
      <a href="{% url 'setup_helper:room_info_before_join' room.id %}">{{ room.name }}</a>
      <br>
      {{ room.num_players }} player room
      <br>
      <br>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No game rooms are available at the moment. Please refresh to try again.</p>
{% endif %}

<br>

<p>
  <a href="javascript:window.location.href=window.location.href">refresh</a>
</p>

<p>
  <a href="{% url 'setup_helper:host' %}">host a new game</a>
</p>

