<h3>
Room Name: {{ room.name }}
</h3>

<p>
Number of players: {{ room.num_players }}<br>
On good side: {{ num_good }}<br>
On evil side: {{ num_evil }}<br>
({{ available_chars }})<br>
</p>

<p>Game created on: {{ room.created_at_date }}</p>

{% if player %}
  <p>Game has started!</p>

  <p>{{ player.name }}, your character is {{ character }}</p>

  {% if knowledge %}
    <br>
    <p>Your knowledge:</p>
    <ul>
    {% for k in knowledge %}
      <li>{{ k }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <p>Joined players: {{ num_existing_players }}</p>

  <p>
  Not everyone has joined the game yet.<br>
  Please wait for everyone and refresh this page.
  </p>
{% endif %}

<br>
<a href="{% url 'setup_helper:index' %}">homepage</a>

